body{
  background-color: #000;
  font-size: 12px;
  font-family: 'Raleway', sans-serif;
}

.fp-scroller{

}

.fixed-top{
  z-index:9999;
}

.bg-light-grey{
  background-color: #e1e1e1;
}

.img-fluid-80{
  display: inline-block;
  width: 80%;
}

.red{
  color: #ef2953;
}
.bg-red{
  background-color: #ef2953;
}


.logo{
  width: 120px;
  position: relative;
}

.logo img{
  display: block;
  width: 120px;
  position: absolute;
  top:-60px;
  left: 0px;
}

#mainNavbar.navbar-v-stretched{
  height: 130px;
  border-bottom: 1px solid #aaa;
  padding-top: 45px;
}

#mainNavbar.bg-white-navbar{
  background-color: #fff;
}

.nav-item{
  text-transform: uppercase;
}

.nav-item a{
  font-size: 14px;
  letter-spacing: 3px;

}

.nav-item a:not(.nav-link-icon){
  margin: 0px 10px!important;
}

.nav-item a:not(.nav-link-icon){


  font-weight: 600;
  margin: 0px 30px;
}

.nav-item a:not(.nav-link-icon){
  color: #000!important;

}

.navbar-dark .nav-item a:not(.nav-link-icon){
  color: #fff!important;

}




.navbar-top-padder{
  padding-top: 50px;
}

.vh100{
  height: 100vh
}

.vw100{
  width: 100vw
}

.booking-form{
  position: absolute;
  bottom: 20px;
  left: 0px;
  width: 100%;
  z-index: 99;
}

.booking-form .form-element{
  border: 1px solid #fff;
  height: 35px;
}

.booking-form.dark .form-element{
  border-color: #000;
}

.booking-form .form-element span{
  display: inline-block;
  border-right: 1px solid #fff;
  height: 34px;
  text-align: center;

  padding-top: 8px;
  width: 20%;
}

.booking-form.dark  .form-element span{
  border-color: #000;
}

.booking-form .form-element span img{
  height: 15px;
}

.booking-form .form-element .select-wrapper{
  width: 78%;
  text-align: center;
  display: inline-block;
}

.booking-form .form-element select{
  display: inline-block;
  border: none;
  background: transparent;
  color: #999;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.booking-form .form-element select option{
  text-align: center;
}

.booking-form .form-element select::-ms-expand {
  display: none;
}

.btn-white{
  background: #fff;
  border: none;
  height: 35px;
  color: #000;
  text-transform: uppercase;
  padding: 0px 25px;
}

.btn-red{
  background: #ef2953;
  border: none;
  height: 35px;
  color: #fff;
  text-transform: uppercase;
  padding: 0px 25px;

}

.slideIntro{
  width: 100%;
  position: absolute;
  bottom: 100px;
  left: 0px;
  transition: 1.5s all;

}

.slideIntro.out{
  left: -999px;
}

.slideIntro h1{
  text-transform: uppercase;
  font-size: 31px;
  letter-spacing: 3.26px;
  font-weight: 200;
  text-shadow: 0px 2px 2px rgba(0,0,0,0.65);
}

.slideIntro h2{
  text-transform: uppercase;
  font-weight: 600;
  font-size: 63px;
  margin: 0px;
  line-height: 44px;
  letter-spacing: 1px;
}

.slideIntro h3{
  font-family: 'homemade_appleregular';
  font-size: 24px;
  border: 0 solid #FFFFFF;

  letter-spacing: 1.2px;
  line-height: 26px;
}

.short-separator{
  height: 1px;
  margin: 30px 0px;
  width: 10%;
  border-top: 1px solid #fff;
}

.pageIntro{
  text-align: center;
}

.pageIntro h1{
  text-transform: uppercase;
  font-size: 13px;
  margin-bottom: 15px;
  letter-spacing: 2.53px;

}

.pageIntro h2{
  text-transform: uppercase;
  font-weight: 800;
  font-size: 64px;
  color: #000;
}

.pageIntro p{
  width: 30%;
  display: inline-block;
  margin-bottom: 80px;
  font-size: 16px;
  letter-spacing: 0.7px;
  line-height: 23px;

}

.verticalSeparator{
  margin: 15px 0px;
  display: inline-block;
  height: 150px;
  width: 1px;
  border-right: 1px solid #999;
  transition: 1s all;
}

.verticalSeparator.out{
  height: 0px;
}

.pageIntro .horizontalSeparator{
  margin: 15px 0px;
  display: inline-block;
  width: 70px;
  height: 1px;
  border-top: 1px solid #999;
}

.iconsGroup{
  margin-bottom: 60px;
}

.iconElement{
  text-align: center;
}

.iconElement img{
  height: 50px;
}

.iconElement h4{
  text-transform: uppercase;
  font-size: 13px;
  margin: 25px 0px;
  letter-spacing: 2.53px;
  font-weight: 600;

}

.iconElement p{
  font-size: 13px;
  letter-spacing: 0.7px;
  line-height: 23px;
}



.reviewsBox{

}

.reviewsBox .reviewBox{
  background: #fff;
  padding: 20px;
  position: relative;
}

.reviewsBox .reviewBox .reviewRibbon{
  position: absolute;
  top: 0px;
  right: 40px;
  height: 50px;
}

.reviewsBox .reviewBox .reviewUser{
  margin-bottom: 15px;
}

.reviewsBox .reviewBox .reviewUser img{
  height: 30px;
}

.reviewsBox .reviewBox .reviewStars{
  margin-bottom: 15px;
}

.reviewsBox .reviewBox .reviewStars img{
  height: 20px;
}

.reviewsBox .reviewBox .reviewContent{

  font-size: 16px;

  letter-spacing: 0.7px;
  line-height: 23px;
}

.reviewsBox .reviewBox .reviewerName{
  font-weight: 700;

  font-size: 16px;

  letter-spacing: 0.7px;
  line-height: 23px;
}

.reviewsBox .reviewBox .reviewerTitle{

  font-size: 16px;

  letter-spacing: 0.7px;
  line-height: 23px;
}

.productsListPage{

  font-size: 20px;

  letter-spacing: 3.89px;

}

.productsListPage .productTitle{
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 2.11px;
  line-height: 14px;
  text-transform: uppercase;
  white-space: nowrap;
  cursor: pointer;
}

.productsListPage .productPrice{
  letter-spacing: 1px;
}

.productsListPage .productDescription{
  font-size: 11px;
  margin-top: 5px;
  margin-bottom: 0px;



  letter-spacing: 0.65px;
  line-height: 20px;
}

.productsListPage h1{
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  border-bottom: 1px solid #000;
  display: inline-block;
  padding-bottom: 10px;
  white-space: nowrap;
}

.productsListPage h1 img{
  display: inline-inline-block;
  height: 20px;
  margin-left: -24px;
}

.productsListPage ul {

}

.productsListPage ul li {

  font-size: 12px;
  text-align: left;
  margin-bottom: 10px;
}

.productsListPage ul li:hover{
  color: #ef2953;
}

.productCategoryTitle{
  text-align: center;
  margin-top: 100px;
}

.productCategoryTitle img{
  height: 60px;
}

.pizzaHeader{
  position: relative;
  display: inline-block;
  text-align: center;
}

.pizzaHeader span.pizzaHeaderPrice{

  display: block;

  text-align: center;
  font-size: 28px;
  font-weight: 700;

}

.pizzaHeader img.pizzaTitle{
  height: 100px;
}

.pizzaIngredients img{
  width: 80%;

}

.pizzaHeader p{
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  margin-top: 20px;
  font-family: Helvetica;
  letter-spacing: 3.5px;
  line-height: 25px;
}

.contactsLocation{
  color: #fff;
}

.contactsLocation h1{

  color: #ef2953;
  font-weight: 600;
  font-size: 32px;
  letter-spacing: 5.06;
  text-transform: uppercase;
  margin-left: -25px;



}


.contactsLocation p{
  font-size: 15px;
  font-weight: 600;


  font-size: 16px;

  letter-spacing: 3.12px;

}

.contactsLocation p img{
  margin-left: -25px;
}

.btnMenu{
  letter-spacing: 1.5px;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  color: #fff;
  cursor: pointer;
  width: 40px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  padding:15px 0px;
  padding-right: 7px;
}

.btnMenu img{
  margin-bottom: 15px;
  height: 15px;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  margin-right: 3px;
}

.rightBar{
  position: fixed;
  z-index: 99999;
  right: 0px;
  top:35%;

}


.btnMenu.btnMenuPizze{
  background: #ef2953;
}

.btnMenu.btnMenuTira{
  background: #000;

}


.overlayMenu{
  background-color: #fff;
  z-index: 9999;
  position: fixed;
  top: 0px;
  left: 0px;
  display: none;
  overflow: auto;
}

.overlayMenu a{
  color: #000 !important;
}

.bigSlide{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
}

.nav-item{
  position: relative;
  overflow: hidden;
}
.nav-item .navItemSide{
  display: block;
  position: absolute;
  transition: 0.3s all;
}
.nav-item .navItemTopSide{
  width: 100%;
  top: 0px;
  left: -100%;
  height: 1px;
  border-top: 1px solid #ef2953;
}

.nav-item:hover .navItemTopSide, .nav-item.active .navItemTopSide{
  left: 0px;
}

.nav-item .navItemRightSide{
  height: 100%;
  top: -100%;
  right: 0px;
  width: 1px;
  border-right: 1px solid #ef2953;
}

.nav-item:hover .navItemRightSide, .nav-item.active .navItemRightSide{
  top: 0px;
}

.nav-item .navItemBottomSide{
  width: 100%;
  bottom: 0px;
  right: -100%;
  height: 1px;
  border-bottom: 1px solid #ef2953;
}

.nav-item:hover .navItemBottomSide, .nav-item.active .navItemBottomSide{
  right: 0px;
}

.nav-item .navItemLeftSide{
  height: 100%;
  bottom: -100%;
  left: 0px;
  width: 1px;
  border-left: 1px solid #ef2953;
}

.nav-item:hover .navItemLeftSide, .nav-item.active .navItemLeftSide{
  bottom: 0px;
}


.mouseScroll{
  position: absolute;
  bottom: 90px;
  left: 50%;
  z-index: 999;
  height: 80px;
}


.mushroomsAndTomatoes{
  position: absolute;
  width: 300px;
  bottom: 100px;
  left: 50%;
  margin-left: -150px;
}

.mushroomsAndTomatoes img{
  width: 100%;
}

.pizzas-menu-social-links{
  font-size: 18px;
  padding-top: 25px;

}

.pizzas-menu-social-links a{
  margin-right: 10px;
}

.pizzaMenuTitle{
  font-family: 'homemade_appleregular';
  font-size: 48px;
}

.pizzaImage{
  max-width: 100%;
}

.pizzaImage.right{

}

.pizzaImage.left{

}


.icon-scroll {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1em;
  height: 3.125em;
  transform: translateX(-50%) scale(2);
  z-index: 99999;
}

.icon-scroll-mobile {
  position: absolute;
right: 20px;
top: 40px;
}

.icon-arrows::after,
.icon-arrows::before {
  content: '';
}
.icon-arrows span,
.icon-arrows::after,
.icon-arrows::before {
  display: block;
  width: 0.315em;
  height: 0.315em;
  border-right: 1px solid rgba(255,255,255,.8);
  border-bottom: 1px solid rgba(255,255,255,.8);
  margin: 0 0 0.125em 0.315em;
  transform: rotate(45deg);
  animation: mouse-scroll 1s infinite;
  animation-direction: alternate;
}

.icon-arrows::before {
  margin-top: 0.315em;
  animation-delay: .1s;
}

.icon-scroll span {
  animation-delay: .2s;
}

.icon-arrows::after {
  animation-delay: .3s;
}

.icon-scroll .mouse {
  height: 1.375em;
  width: .875em;
  border: 1px solid rgba(239,41,83,1);
  border-radius: 2em;
}

.icon-scroll .wheel {
  position: relative;
  display: block;
  height: 0.1875em;
  width: 0.1875em;
  margin: 0.1875em auto 0;
  background: rgba(239,41,83,1);
  animation: mouse-wheel 1.2s ease infinite;
  border-radius: 50%;
}

.icon-scroll-mobile .mouse {
  height: 0.8em;
      width: .5em;
  border: 1px solid rgba(239,41,83,1);
  border-radius: 2em;
}

.icon-scroll-mobile .wheel {
  position: relative;
  display: block;
  height: 0.12em;
  width: 0.12em;
  margin: 0.12em auto 0;
  background: rgba(239,41,83,1);
  animation: mouse-wheel 1.2s ease infinite;
  border-radius: 50%;
}

@keyframes mouse-wheel {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(.375em);
  }
}

#mainNavbarMobile{
  background: transparent;
}

.mobileNavbarSocialLinks{
  position: absolute;
  top: 5px;
}

.mobileNavbarSocialLinks a{
  display: block;
  font-size: 25px;
}

.mobileNavbarLogo{
  position: absolute;
  left: 50%;
  top: 5px;
  width: 140px;
  margin-left: -70px;
  text-align: center;
}

.mobileNavbarLogo img{
  width: 100%;
}

@keyframes mouse-scroll {
  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}

/* MOBILE RULES */
/* IPHONE 6,7,8 NON PLUS */
@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px)
and (orientation : portrait) {

  #mobileScreenFullPageWrapperGallery{
    bottom: -4px;
  }

  .new-booking-button{
    text-align: left!important;
    letter-spacing: 1px;
  }

  .contactsLocation:first-of-type{
    margin-top: 140px;
  }

  .contactsLocation h1{
    color: #ef2953;
    font-weight: 600;
    font-size: 24px;
    letter-spacing: 5.06;
    text-transform: uppercase;
    margin-left: -25px;
  }
  .contactsLocation p{
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 3.12px;
  }
  .contactsLocation p img{
    margin-left: -25px;
  }

  .mouseScroll{
    right: 20px;
    bottom: 30px;
  }

  .mobileNavbarLogo img{
    width: 70%;
  }

  .slideIntro{
    bottom: 30px;
  }

  .slideIntro h1{
    font-size: 24px;
  }

  .slideIntro h2{
    font-size: 48px
  }

  .slideIntro h3{
    font-size: 18px
  }


  .pizzaMobile{
    position: relative;
    padding: 40px 0px;
    text-align: center;
  }
  .pizzaMobile .pizzaMobileHeader{
    position: relative;
  }

  .pizzaMobile .pizzaTitle{
    height: 60px;
    margin-bottom: 30px;
  }

  .pizzaMobile .pizzaImage{
    margin-top: -65px;
  }

  .pizzaMobile .pizzaMobileDescription{
    font-size: 13px;
    text-transform: uppercase;
    width: 80%;
    display: inline-block;
  }

  .pizzaMobile .pizzaMobileHeader .pizzaHeaderPrice{
    display: block;
    font-family: 'homemade_appleregular';
    position: absolute;
    top: 0px;
    right: 50%;
    margin-right: -160px;
    text-align: center;

  }

  .productCategoryTitle img{
    height: 40px;
  }

  .productsListListWrapper{
    padding: 0px 45px;
  }

  .productsListPage h1{
    white-space: normal;
    margin-top: 30px;
  }

  .productsListPage h1 img{


    margin-left: auto;
  }

  .pageIntro p{
    width: 90%;
  }

  .navbar-collapse{
    padding: 15px;
    z-index: 99999;
    background: #fff;
    margin-top: 10px;
    position: absolute;
    right:18px;
  }

  .navbar-collapse.show{


  }

  .mobileScreenDishesCarouselWrapper{
    position: absolute;
    bottom: 0;
  }

  .booking-form{
    position: relative;

  }
  .slideIntro{
    position: relative;
  }
  .btnMenu {
    width: 30px;
    font-size: 12px;
    padding-right: 4px;
  }
  .rightBar{
    top: 10%;
  }
  .mobileScreenFullPageWrapper{
    width: 100%;
    position: absolute;
    bottom: 20px;


  }
  .short-separator{
    margin: 10px 0px;
  }
  .mouseScroll{
    top:50%;
  }

  .pageIntro h2{
    font-size: 48px;
  }

}

.carousel-control-next{
  display: inline-block!important;
}

@media only screen
and (min-device-width : 375px)
and (max-device-width : 812px)
and (-webkit-device-pixel-ratio : 3) {

  #mobileScreenFullPageWrapperGallery{
    bottom: -4px;
  }

  .new-booking-button{
    text-align: left!important;
  }

  .contactsLocation:first-of-type{
    margin-top: 140px;
  }

  .contactsLocation h1{
    color: #ef2953;
    font-weight: 600;
    font-size: 24px;
    letter-spacing: 5.06;
    text-transform: uppercase;
    margin-left: -25px;
  }
  .contactsLocation p{
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 3.12px;
  }
  .contactsLocation p img{
    margin-left: -25px;
  }

  .mobileNavbarLogo img{
    width: 70%;
  }


  .slideIntro h1{
    font-size: 24px;
  }

  .slideIntro h2{
    font-size: 48px
  }

  .slideIntro h3{
    font-size: 18px
  }


  .carousel-control-next{
    display: none!important;
  }
  .pageIntro h2{
    font-size: 48px;
  }

  .pizzaMobile{
    position: relative;
    padding: 40px 0px;
    text-align: center;
  }
  .pizzaMobile .pizzaMobileHeader{
    position: relative;
  }

  .pizzaMobile .pizzaTitle{
    height: 60px;
    margin-bottom: 30px;
  }

  .pizzaMobile .pizzaImage{
    margin-top: -65px;
  }

  .pizzaMobile .pizzaMobileDescription{
    font-size: 13px;
    text-transform: uppercase;
    width: 80%;
    display: inline-block;
  }

  .pizzaMobile .pizzaMobileHeader .pizzaHeaderPrice{
    display: block;
    font-family: 'homemade_appleregular';
    position: absolute;
    top: 0px;
    right: 50%;
    margin-right: -160px;
    text-align: center;

  }

  .productCategoryTitle img{
    height: 40px;
  }

  .productsListListWrapper{
    padding: 0px 45px;
  }

  .productsListPage h1{
    white-space: normal;
    margin-top: 30px;
  }

  .productsListPage h1 img{


    margin-left: auto;
  }

  .pageIntro p{
    width: 90%;
  }

  .navbar-collapse{
    padding: 15px;
    z-index: 99999;
    background: #fff;
    margin-top: 10px;
  }

  .navbar-collapse.show{


  }

  .mobileScreenDishesCarouselWrapper{
    position: absolute;
    bottom: 0;
  }

  .booking-form{
    position: relative;
    bottom: 0px;
  }
  .slideIntro{
    position: relative;
  }
  .btnMenu {
    width: 30px;
    font-size: 12px;
    padding-right: 4px;
  }
  .rightBar{
    top: 10%;
  }
  .mobileScreenFullPageWrapper{
    width: 100%;
    position: absolute;
    bottom: 20px;

  }
  .short-separator{
    margin: 10px 0px;
  }
  .mouseScroll{
    top:50%;
  }
}



.customVerticalCarousel .carousel-item-next.carousel-item-left,
.customVerticalCarousel .carousel-item-prev.carousel-item-right {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.customVerticalCarousel .carousel-item-next,
.customVerticalCarousel .active.carousel-item-right {
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100% 0);
}

.customVerticalCarousel .carousel-item-prev,
.customVerticalCarousel .active.carousel-item-left {
  -webkit-transform: translate3d(0,-100%, 0);
  transform: translate3d(0,-100%, 0);
}

.close {
  position: absolute;
  right: 32px;
  top: 32px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
}
.close:hover {
  opacity: 1;
}
.close:before, .close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #333;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}



/* ARROWS */


svg {
  padding: 5px;
}

.arrow {
  cursor: pointer;
  width: 70px;
  height: 90px;
}



.leftArrow:hover polyline,
.leftArrow:focus polyline {
  stroke-width: 5;
}

.leftArrow:active polyline {
  stroke-width: 6;
  transition: all 100ms ease-in-out;
}

.rightArrow:hover polyline,
.rightArrow:focus polyline {
  stroke-width: 5;
}

.rightArrow:active polyline {
  stroke-width: 6;
  transition: all 100ms ease-in-out;
}

polyline {
  transition: all 250ms ease-in-out;
}

.carousel-control-custom-wrapper-wrapper{
  top:50%;
  position: absolute;

  width: 100%;
  margin-top:-30px;
}

.carousel-control-custom{
  position:relative;
}

.carousel-control-next, .carousel-control-prev{
  text-align: left;
}

.new-booking-button{
  display: inline-block;
  border: 1px solid #ef2953;
  text-transform: uppercase;
  color: #fff;
  padding: 10px 15px;
  transition: 0.5s all;
}

.new-booking-button:hover{
  text-decoration: none;
  background: #ef2953;
  border-color: #ef2953;
  color: #fff;
}

.scrollToTopButton{
  position: fixed;
  display: block;
  opacity: 0;
  color: #ef2953;
  bottom: 20px;
  right: 20px;
  font-size: 48px;
  padding: 10px;

  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  -ms-transform: rotate(270deg);

  transition: 0.5s all;
}

.scrollToTopButton.show{
  opacity: 0.8;
  cursor: pointer;
}


.scrollToTopButton.show:hover{
  opacity: 1;
}


.slick-dotted.slick-slider{
  margin-bottom: 0px!important;
}


.mouseScrollMobile .icon-scroll{
  top: 80%;
}
